* {
  box-sizing: border-box;
  font-family: Times New Roman, sans-serif;
}

header{
  padding: 0rem 2rem 1rem 1rem;
  background-color: #D99EC1;
  color: white;
  text-align: center;
}

h2 {
  padding-bottom: 0.5rem;
}

body {
  margin: 0;
  line-height: 1.6;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

section {
  margin-bottom: 2rem;
}

nav a {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
  text-decoration: none;
  color: #3B2431;
}

footer {
  text-align: center;
  padding: 0.5rem 0rem 0.5rem 0rem;
  background-color: #e5a8cd;
}

/* Click Interaction */
.pink {
  color: #D99CBF;
}
