* {
  box-sizing: border-box;
  font-family: Times, sans-serif;
}

header{
  padding: 0rem 2rem 1rem 1rem;
  color: white;
  text-align: center;
}

header, footer {
  background-color: #D1C7BD;
}

h1 {
  font-size: 20pt;
  margin: 2rem 0rem 0rem 0rem;
}

h2 {
  font-size: 16pt;
  margin: 2rem 0rem 0rem 0rem;
}

h4 {
  margin: 0rem 0rem 0rem 0rem;
}

.title-heading {
  background-color: #EDE3DB;
  text-align: center;
  padding: 1rem 0rem 3rem 0rem;
}

p {
  margin: 0rem;
  font-size: 11.5pt;
}

body {
  margin: 0;
  line-height: 1.6;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

section {
  margin-bottom: 1rem;
}

nav a {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
  color: #3B2431;
}

footer {
  text-align: center;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

/* Click Interaction */
.pink {
  color: #b26599;
}

/* Skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 2fr));
  gap: 30px;
  padding-bottom: 1rem;
}

/* Project */
.each-project {
  padding-bottom: 1rem;
}

/* Horizontal line */
hr {
  border-top: 3px solid #D1C7BD; 
  width: 100%;            
}

/* SVG */
#chart, #art {
  padding-top: 2.5rem;
}